.videoConfig {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    font-family: Arial, sans-serif;
    width: 100%;
    margin: auto;
}

.videoConfig .media__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.videoConfig .mediaSection {
  width: 100%;
  height: 100%;
  text-align: center;
}
  
.videoConfig .productTitle {
  font-size: 2em;
  margin-bottom: 20px;
}
  
.videoConfig .mediaContainer {
  width: 50%;
  max-width: 800px;
  margin: auto;
}
  
.videoConfig .mediaImage {
  width: 100%;
  height: auto;
}
  
.videoConfig .viewingOptions {
  display: flex;
  width: 100%;
  margin-top: 40px;
}
  
.videoConfig .viewOptionsGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}

.videoConfig .viewOption {
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
  width: 14%;
  height: 10vh;
}

.videoConfig .viewOption.selected {
  border: 2px solid #007bff;
}

.videoConfig .optionThumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoConfig .detailsContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
  font-family: "Nunito sans", sans-serif;
}
  
.videoConfig .productInfo {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}
  
.videoConfig .productInfo h3 {
  margin-top: 10px;
  color: #333;
  font-weight: 500;
}

.videoConfig .addToCartButton {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
}

.videoConfig .addToCartButton:hover {
  background-color: #0056b3;
}

.videoConfig .customerReviews {
  width: 100%;
  margin-top: 40px;
}

.videoConfig .customerReviews .review {
  border-top: 1px solid #ccc;
  padding: 20px 0;
}

.videoConfig .customerReviews .review h3 {
  margin-bottom: 5px;
}

.videoConfig .customerReviews .review p {
  margin: 5px 0;
}