.colorConfig {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    width: 100%;
    height: 100vh;
}

.colorConfig .model__container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    width: 100%;
    height: 60vh;
}

.colorConfig canvas {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover; 
}

.colorConfig .configurator {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    bottom: 2em;
    justify-content: center;
    align-items: center;
}

.colorConfig .configurator.noneSelected {
    display: none;
}

.configurator .heading {
    font-family: "Lato", sans-serif;
}

.configurator .color-picker {
    display: flex;
    gap: 10px;
}

.configurator .color-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0px solid #000000;
    cursor: pointer;
    transition: border 0.3s;
}

.configurator .color-button.selected {
    border: 3px solid black;
}